* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html{
    font-size: 11px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
body{
   
}

#container{
    max-width: 144rem;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
background-color: hsl(210, 46%, 95%); 
}
.nezaket{
    display: flex;
    flex-flow: row wrap;
}


.left-side{
    width: 72%;
    line-height: 1.5rem;
  
}

h1{
    margin: 1rem 0rem;
      line-height: 2.5rem;
      font-weight: 600;
}

span{
    font-weight: 500;
    line-height: 1.5rem;
    font-size: 1.5rem;
    opacity: 0.6;
}
p{
    opacity: 0.4;
}
h4{
    font-size: 1.5rem;
}

.left-top{
    display: flex;
}

.left-top-box1{
    width:65% ;
    /* height: 25rem; */
background-image: url(../images/bg-pattern-quotation.svg);
background-repeat: no-repeat;
background-position: 90% 10%;
    background-color: hsl(263, 55%, 52%);
    border-radius: 1rem;
    margin:1rem;
    padding: 2.5rem 3rem;
    color: hsl(0, 0%, 81%);
    box-shadow: 6px 24px 53px -11px rgba(0,0,0,0.21);
    -webkit-box-shadow: 6px 24px 53px -11px rgba(0,0,0,0.21);
    -moz-box-shadow: 6px 24px 53px -11px rgba(0,0,0,0.21);
    
}
.left-top-box2{
    width: 35%;
    /* height: 25rem; */
    background-color: hsl(217, 19%, 35%);
    border-radius: 1rem;
    margin:1rem;
    padding: 2.5rem 3rem;
    color: hsl(0, 0%, 81%);
    box-shadow: 6px 24px 53px -11px rgba(0,0,0,0.21);
  -webkit-box-shadow: 6px 24px 53px -11px rgba(0,0,0,0.21);
  -moz-box-shadow: 6px 24px 53px -11px rgba(0,0,0,0.21);
}

.left-bottom{
    display: flex;
}

.left-bottom-box1{
    width: 35%;
    /* height: 25rem; */
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    margin:1rem;
    padding: 2.5rem 3rem;
    box-shadow: 6px 24px 53px -11px rgba(0,0,0,0.21);
  -webkit-box-shadow: 6px 24px 53px -11px rgba(0,0,0,0.21);
  -moz-box-shadow: 6px 24px 53px -11px rgba(0,0,0,0.21);
    
}

.left-bottom-box2{
    width: 65%;
    /* height: 25rem; */
    background-color: hsl(219, 29%, 14%);
    border-radius: 1rem;
    margin:1rem;
    padding: 2.5rem 3rem;
    color: hsl(0, 0%, 81%);
    box-shadow: 6px 24px 53px -11px rgba(0,0,0,0.21);
  -webkit-box-shadow: 6px 24px 53px -11px rgba(0,0,0,0.21);
  -moz-box-shadow: 6px 24px 53px -11px rgba(0,0,0,0.21);
}

.caption{
    display: flex;
}
.caption img{
    width: 3rem;
    border-radius: 50%;
}
.caption-th{
    display: flex;
    flex-direction: column;
    margin-left: 1rem ;
}

.right-side{
      width: 22%;
    line-height: 1.5rem;
}
.right-side-box{
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    margin:1rem;
    padding: 2.5rem 3rem;
    color:hsl(217, 19%, 35%) ;
    box-shadow: 6px 24px 53px -11px rgba(0,0,0,0.21);
  -webkit-box-shadow: 6px 24px 53px -11px rgba(0,0,0,0.21);
  -moz-box-shadow: 6px 24px 53px -11px rgba(0,0,0,0.21);
}
